@charset "UTF-8";

/*Geral*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

section{  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 0px;
}

h1{
    font-family: "Montserrat", sans-serif;
}

h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    text-align: center;
    color: #333333;
}

h3{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 700;
}

p{
    font-family: Open Sans;
}

section h2{
    margin-bottom: 20px;
}

.hidden{
    opacity: 0;
    filter:blur(5px);
    transform: translateX(-100%);
    transition: all 1s ease;
}

.show{
    opacity: 1;
    filter:blur(0px);
    transform: translateX(0);
    transition: all 1s;
}

/*Header*/
header{
    min-height: 80vh;
    width: 100%;
    background-image:url(../imagens/slider1.jpeg);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s ease;
    
}

header div.header{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.384);
    box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.479);
    
}

div.header nav > ul > li{
    display: inline-block;
}

div.header nav > ul > li > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Roboto;
}

div.header nav > ul > li > a:hover{
    border-bottom: 1px solid white;
    transition-duration: 0.5s;
}

header h1{
    position: absolute;
    color: black;
    text-align: center;
    
}

button.site-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translateX(-50%);

    height: 50px;
    width: 200px;
    font-size: 0.9em;

    background-color: white;
    cursor: pointer;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.308);
    overflow: hidden;
    border-radius: 30px;
    
    color: black;
    font-weight: bolder;
    font-family: Roboto;

    transition: all 0.5s ease-in-out;
}

button.site-button::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #468bf3;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
  }

button.site-button:hover {
    color: #fff;
    border: none;
    }

button.site-button:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
    }

div.slider-buttons button{
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.308);
    cursor: pointer;
    background-color: white;
    color: black;
}

div.slider-buttons button:hover{
    background-color: #468bf3;
    color: white;
    border: white;

    transition: all 0.3s ease;
}

/*Section-destinos*/

section#destinos{
    background-color: #f5f5f5;
    box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.479);
}

div.destinos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


div.destinos-card{
    position: relative;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    border: none;
    overflow: hidden;
    box-shadow: 6px 4px 13px rgba(0, 0, 0, 0.324);
}

div.destinos-card:hover{
    border: 5px solid #468bf3;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    color: #468bf3;
}

div.destinos-card img{
    width: 100%;
    margin-bottom: 30px;
}

/*Section-pacotes*/
section#pacotes{
    background-color: #ffffff;
    
}

div.pacotes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#pacote2{
    transition-delay: 100ms;
}

#pacote3{
    transition-delay: 200ms;
}


div.pacotes-card{
    display: flex;
    flex-direction: column;
    height: auto;

    border-radius: 10px;
    box-shadow: 6px 4px 13px rgba(0, 0, 0, 0.324);
    overflow: hidden;

    background-color: #0077b6;
    color: white;
}

div.pacotes-card:hover{
    transform: translateY(-5px); 
    transition: all 0.3s ease;
}

div.pacotes-card img{
    width: 100%;
    margin-bottom: 15px;
}

div.pacotes-card h3{
    text-align: center;
}

p.pacote-time{
    color: rgb(241, 241, 110);
}

p.pacote-price{
    color: rgb(97, 231, 97);
}

div.pacotes-card button{
    padding: 1.3em 3em;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

div.pacotes-card button:hover{
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
}

div.pacotes-card button:active{
    transform: translateY(-1px);
}

/*Section-depoimentos*/
section#depoimentos{
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    min-height: 30vh;
}

section#depoimentos h2{
    color: black;
}

div.depoimentos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

div.depoimento-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px dotted black;
}

div.depoimento-card h3{
    font-weight: 700;
    font-variant: small-caps;
}

div.icon-container{
    background-color: #468bf3;
    color: white;
    border-radius: 50%;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 10px;
}

/*Section-contatos*/
section#contatos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

div.form-container{
    text-align: center;
}

#inputEmail{
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
    text-align: center;
    padding: 0.5rem;
    display: block;
}

input.form-button{
    padding: 1.3em 3em;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    background-color: black;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

input.form-button:hover{
    background-color: #468bf3;
    box-shadow: 0px 15px 20px #468bf346;
    color: #fff;
 }

 div.redes-sociais{
    text-align: center;
}

div.redes-buttons{
    display: flex;
}

div.redes-buttons button{
    cursor: pointer;  
    padding: 0.8em;
    border: none;
    border-radius: 50%;
    background-color: black;
    color: white;
    text-align: center;
 }

 div.redes-buttons button:hover{
    background-color: #468bf3;
    color: white;
    transform: translateY(-8px);
    transition: all 0.3s;
 }

 footer{
    text-align: center;
    background-color: #468bf3;
 }

 footer a{
    text-decoration: none;
    color: white;
 }

 footer a:active{
    color: rgba(179, 174, 174, 0.822);
 }



